<div class="container">
  <nav class="navbar sticky-top navbar-light bg-light">
    <a class="navbar-brand" href="#"><i class="fas fa-cocktail"></i></a>
  </nav>

  <div class="container d-flex">
    <div class="text">
      <h1>Cocktail Lab</h1>
      <h3>Change your life and create your favorite drinks</h3>
      <p><%= link_to '<button class="btnbanner">Create yours</button>'.html_safe, new_cocktail_path %></p>
    </div>
    <img class="imagen" src="https://images.unsplash.com/photo-1549746423-e5fe9cafded8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="">
  </div>

  <div class="row row-cols-3">
    <% @cocktails.each do |cocktail| %>
      <div class="col">
        <h5 class="card-title"><%= link_to cocktail.name, cocktail_path(cocktail) %></h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    <% end %>
  </div>
 
</div>
